.footer {
  margin: 0 auto;
  width: 390px;
  margin-top: 50px;
  @media screen and (min-width: 1440px) {
    width: 1440px;
    margin-top: 80px;
  }
}

.footer-position {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.footer-logo {
  width: 113px;
  height: 34px;
}

.input-email {
  position: relative;
  margin-top: 20px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 8px;
  background: transparent;
  width: 357px;
  height: 52px;
  color: #fff;
  padding-left: 46px;
  @media screen and (min-width: 1440px) {
    margin-top: 25px;
    width: 305px;
    padding-left: 20px;
  }
}

.list-logo-footer {
  height: 125px;
}

.list-logo-footer::after {
  content: " ";
  width: 1px;
  height: 252px;
  background-color: rgb(38, 38, 38);
  display: block;
  position: relative;
  top: 280px;
  right: -178px;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.footer-item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.icon-email {
  position: absolute;
  top: 38px;
  left: 22px;
}

.icon-telega {
  position: absolute;
  top: 41px;
  right: 20px;
}

.input-email::placeholder {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.title-content {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 40px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 25px;
    font-size: 18px;
    width: 100px;
  }
}

.list-content-footer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  height: 550px;
  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
    height: 232px;
    margin-left: 100px;
    column-gap: 119px;
  }
}

.list-content-footer::after {
  content: " ";
  width: 1px;
  height: 212px;
  background-color: rgb(38, 38, 38);
  display: block;
  position: relative;
  top: -442px;
  right: 20px;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.properties {
  height: 120px;
}

.item-content {
  width: 78px;
}

.item-content::after {
  content: " ";
  width: 160px;
  height: 1px;
  background-color: rgb(38, 38, 38);
  display: block;
  position: relative;
  top: -50px;
  top: 20px;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.content-text {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  width: 130px;
  @media screen and (min-width: 1440px) {
    width: 145px;
    margin-bottom: 16px;
    font-size: 16px;
  }
}

.contact-us {
  height: 210px;
  margin-top: -100px;
  @media screen and (min-width: 1440px) {
    margin-top: 0;
  }
}

.subfooter {
  margin-top: 50px;
  width: 389px;
  height: 178px;
  background: rgb(26, 26, 26);
  padding: 20px 0;
  @media screen and (min-width: 1440px) {
    margin-top: 120px;
    width: 1440px;
    height: 68px;
    padding: 15px 0;
  }
}

.item-network {
  display: flex;
}

.subfooter-position {
  display: flex;
  flex-direction: row-reverse;
}

.network-svg {
  width: 60px;
  height: 60px;
  border-radius: 58px;
  background: rgb(20, 20, 20);
  border: none;
  @media screen and (min-width: 1440px) {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

.item-network {
  width: 275px;
  margin: 0 auto;
  @media screen and (min-width: 1440px) {
    margin: 0;
    width: auto;
    align-items: center;
  }
}

.item-network_margin {
  @media screen and (min-width: 1440px) {
    margin-right: auto;
    column-gap: 20px;
  }
}

.network-svg + .network-svg {
  margin-left: 8px;
}

.all-rights {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}

.terms {
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}
