.header {
  margin: 0 auto;
  width: 390px;
  height: 68px;
  padding-top: 20px;
  background-color: rgb(26, 26, 26);
  @media screen and (min-width: 1440px) {
    width: 1440px;
    height: 77px;
    padding-top: 14px;
  }
}

.menu-list {
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
}

.logo-header {
  width: 94px;
  height: 28px;
  @media screen and (min-width: 1440px) {
    width: 113px;
    height: 34px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.open {
  display: flex !important;
}

.nav {
  display: flex;
  @media screen and (min-width: 1440px) {
    margin: 0 auto;
  }
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 18px;
  height: 16px;
  z-index: 2;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #fcfcfb;
  border-radius: 4px;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fcfcfb;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
  width: 11px;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 47%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  width: 18px;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
}
@media (max-width: 1439px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 50px 110px;
    background: rgb(26, 26, 26);
    animation: burgerAnimation 0.4s;

    @media screen and (min-width: 1600px) {
      display: none;
    }
  }

  .nav .list-nav-menu {
    flex-direction: column;
    row-gap: 35px;
  }
  .nav .list-contact-menu {
    flex-direction: column;
    row-gap: 32px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger.active {
  position: fixed;
  right: 16px;
}

.logo-modal_header {
  margin-bottom: 40px;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.menu-item {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}

.menu-item:hover {
  border: 1px solid rgb(38, 38, 38);
  border-radius: 8px;
  background: rgb(20, 20, 20);
  padding: 14px 20px;
  align-items: center;
}

.menu-link {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.menu-link:hover::after {
  color: #fff;
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: #fff;
  display: block;
  position: relative;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.contact {
  border: 1px solid rgb(38, 38, 38);
  border-radius: 8px;
  background: rgb(20, 20, 20);
  width: 109px;
  height: 49px;
  display: none;
  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.text-contact {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
