.cta {
  margin: 0 auto;
  background-image: url(../img/desktop-img/CTA.png);
  width: 389px;
  height: 395px;
  margin-top: 80px;
  @media screen and (min-width: 1440px) {
    background-image: url(../img/desktop-img/CTA-1440.png);
    width: 1441px;
    height: 259px;
  }
}

.list-cta {
  padding: 50px 0px;
  @media screen and (min-width: 1440px) {
    padding: 57px 0px;
    display: flex;
    align-items: center;
  }
}

.title-cta {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 6px;
  @media screen and (min-width: 1440px) {
    font-size: 38px;
  }
}

.subtitle-cta {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    width: 885px;
  }
}

.btn-cta {
  border-radius: 8px;
  width: 357px;
  height: 49px;
  background: rgb(112, 59, 247);
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  border: none;
  @media screen and (min-width: 1440px) {
    width: 152px;
    height: 49px;
  }
}

.position-btn-cta {
  margin-left: auto;
}
