.featured-properties {
  margin: 0 auto;
  width: 390px;
}

.title-featured {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

.subtitle {
  width: 345px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 6px;
}

.card-box {
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  width: 358px;
  height: 506px;
  background: rgb(20, 20, 20);
  padding: 24px;
  margin-top: 40px;
}

.img-home {
  width: 310px;
  height: 210px;
}

.title-card-box {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 16px;
}

.subtitle-card-box {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 2px;
  color: rgb(153, 153, 153);
}

.link-subtitle-box {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  margin-top: 14px;
  margin-bottom: 20px;
}

.description-item {
  display: flex;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 28px;
  height: 33px;
  background: rgb(26, 26, 26);
  padding: 6px 14px;
  align-items: center;
  margin-top: 6px;
}

.description {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.buy-container {
  display: flex;
}

.title-price-card {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.price-card {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.button-card-box {
  border-radius: 8px;
  background: rgb(112, 59, 247);
  padding: 14px 20px;
  margin-left: 70px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  border: none;
}

.item-slider {
  display: flex;
  align-items: center;
}

.slider-container {
  display: flex;
  margin-top: 46px;
  column-gap: 47px;
}

.button-view_all {
  width: 155px;
  height: 49px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 8px;
  padding: 14px 20px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  background: rgb(26, 26, 26);
}

.btn-slide {
  border: 1px solid rgb(38, 38, 38);
  border-radius: 69px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  padding-top: 5px;
}

.button-view_all::after {
  content: " ";
  display: block;
  width: 355px;
  height: 1px;
  background-color: rgb(38, 38, 38);;
  position: relative;
  top: -50px;
  right: 18px;
}

.counter-slider {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: rgb(153, 153, 153);
}

.counter {
  color: #fff;
}
