* {
  box-sizing: border-box;
}

.urbanist body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 600;
  font-style: normal;
}

body {
  background-color: #141414;
  margin: 0 auto;
  max-width: 1600px;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  @media screen and (min-width: 390px) {
    max-width: 390px;
  }
  @media screen and (min-width: 390px) {
    max-width: 1440px;
  }
  @media screen and (min-width: 390px) {
    max-width: 1600px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
